@foreach (var currsection in @Model.applyingposition.job.sections)
{
    <div class="padding-left-m">
        @if (@currsection.header != null)
        {
            <h4 class="font-bold">@currsection.header</h4>
        }
        @if (@currsection.text != "")
        {
            <p class="font-semi-bold">@currsection.text</p>
        }
        @if (@currsection.bullets != null)
        {
            <div class="padding-left-l">
                <ul>
                    @foreach (var bullet in @currsection.bullets)
                    {
                        <li> @bullet </li>
                    }
                </ul>
            </div>
        }
    </div>
}