<ul>
    @foreach (var career in @Model.careers)
    {
        <li class="" data-job-position="@career.position">
            <a href="/Apply?guid=@career.id" class="text-decoration-none job-card">
                <div class="job-card__info">
                    <div class="flex align-items-center">
                        <div class="img-c">
                            <img src="@career.imgurl">
                        </div>
                        <div>
                            <div class="flex align-items-center color-primary">
                                <p>@career.position</p>
                            </div>
                            <h6>@career.jobpositiondescription</h6>
                            <ul>
                                @foreach (var term in career.job.contractterms)
                                {
                                    <li>@term</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="job-card__tags">
                    @foreach (var tag in career.job.tags)
                    {
                        <li>@tag</li>
                    }
                </ul>
            </a>
        </li>
    }
</ul>